body {
    margin: 0;
    padding: 0;
}

.digit-generator {
    opacity: 0; 
    animation-name: opacityOn;
    animation-duration: 0.2s;
    -webkit-animation-name: opacityOn; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 0.2s; /* Safari 4.0 - 8.0 */
}

@-webkit-keyframes opacityOn {
    from {
        opacity: 0;
    }
    to {
        opacity: '100%';
    }

}
  

@keyframes opacityOn {
    from {
        opacity: 0;
    }
    to {
        opacity: '100%';
    }

}